html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}

.hero {
  background: linear-gradient(90deg, #aa4b6b, #6b6b83, #3b8d99);
  padding-bottom: 50px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.logo {
  text-decoration-line: none;
  color: white;
  font-family: "Audiowide";
  font-size: 70px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 0;
  position: sticky;
}

.navbar-link {
  text-decoration-line: none;
  color: white;
  font-family: "Quantico";
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
}

.navbar-link:hover {
  background-color: white;
  transition: 0.3s;
  color: #3b8d99;
}

.myfam {
  border-radius: 100px;
  box-shadow: 10px 10px 100px #6b6b83;
}

.box-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-child {
  width: 500px;
}

.hsize {
  color: white;
  font-family: "Aubrey";
  font-size: 70px;
  font-weight: 800px;
  margin-block: 0;
}

.intro-about-myself {
  color: white;
  font-family: "Aubrey";
  font-size: 30px;
  margin-block: 0;
  padding-block: 20px;
}

.more-bout-me {
  text-decoration-line: none;
  color: #aa4b6b;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 35px;
  font-family: "Aubrey";
  font-size: 25px;
}

.myself {
  border-radius: 10px;
}

.myself:hover {
  transform: scale(1.06);
  transition: 1.05s;
}

.box-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 200px;
}

.box-child-two {
  width: 400px;
}

.hsize-two {
  font-family: "Aubrey";
  font-size: 70px;
}

.intro-about-myfam {
  font-family: "Aubrey";
  font-weight: 100px;
  font-size: 30px;
}

.more-bout-myfam {
  text-decoration-line: none;
  color: white;
  background: linear-gradient(90deg, #aa4b6b, #3b8d99);
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Aubrey";
  font-weight: 50px;
  font-size: 20px;
}

.hsize-three {
  font-family: "Aubrey";
  font-size: 70px;
  margin-left: 350px;
}

.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: 1px solid gray;
  margin-block: 20px;
  border-radius: 20px;
  width: 570px;
  height: 400px;
}

.strong {
  font-family: "Aubrey";
  font-size: 30px;
  margin-top: 20px;
  padding-left: 10px;
}

.gray-text {
  font-family: "Aubrey";
  font-size: 20px;
  padding-left: 10px;
}

.more-bout-my-projects {
  text-decoration-line: none;
  background: linear-gradient(270deg, #aa4b6b, #3b8d99);
  color: white;
  padding: 15px 50px;
  border-radius: 10px;
  font-family: "Aubrey";
  font-size: 30px;
  font-weight: 50px;
  margin-left: 490px;
}

.project-pic {
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 30px;
}

.site-footer {
  background-image: url("./myfamilyfooterbg.jpg");
  padding-bottom: 20px;
}

.footer-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.footer-logo {
  text-decoration-line: none;
  font-family: "Audiowide";
  font-size: 70px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.footer-list-two {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.link {
  text-decoration-line: none;
  font-weight: 500;
  font-family: "Quantico";
}
